{% extends 'myproject/base.html' %}
{% load static %}
{% block title %} Diagnosis {% endblock %}
{% block content %}

<!-- -------- top Section Start -------- -->

<div class="top-wrapper p-5">
    <div class="consult-text d-flex">
        <h4>Health checkup and screening</h4>
        <div class="mr-auto"></div>
        <button class="btn btn-raised bg-white">See all specialities </button>
    </div>
    <div class="top-content-wrapper row align-items-center">
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/diabetes.jpg' %}" alt="">
                <h6>Diabetes</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/cancer.jpg' %}" alt="">
                <h6>Cancer</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/liver.jpg' %}" alt="">
                <h6>Liver Function Test</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/orthopaedic.jpg' %}" alt="">
                <h6>Complete Blood Count</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
    </div>
</div>

<div class="top-wrapper p-5">
    <div class="top-content-wrapper row  align-items-center">
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/dermitology.jpg' %}" alt="">
                <h6>Skin</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/optometry.jpg' %}" alt="">
                <h6>Optometry</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/orthopology.jpg' %}" alt="">
                <h6>Bone</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="top-content col-lg-3">
            <div class="top-content-inner border">
                <img src="{% static 'images/obstetrics.jpg' %}" alt="">
                <h6>Pregnancy Test</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
    </div>
</div>

<!-- -------- top Section End -------- -->

<!-- -------- Avaiable Doctors Section -------- -->

<div class="avaiable-doctors-wrapper ">
    <div class="avaiable-doctors-inner p-5">
        <h4>Top clinics /hospital avaiable</h4>

        <div class="avaiable-doctors row">
            <div class="avaiable-doctors-left col-lg-8">
                <div class="doc-info border d-flex justify-content-around align-items-center">
                    <img src="{% static 'images/reception.png' %}" alt="">
                    <div class="doc-desc">
                        <h5>Vijaya Diagnosis Center</h5>
                        <button class="top mt-1 mb-2">top</button>
                        <h6>Diagnosis Center</h6>
                        <p>21 Years experience</p>
                        <p>HNo - 16-31, MIG.11/197, Landmark: Near KPHB 9th.</p>
                        <button class="book btn mt-2 mr-2">Get Direction</button>
                        <button class="book btn mt-2 mr-2">Call Now</button>
                    </div>
                    <div class="doc-appoint text-center">
                        <span class="text-success"> <b>Rs. 320/-</b></span> <br>
                        <button class="book btn">view</button>
                    </div>
                </div>
                <div class="doc-info border d-flex justify-content-around align-items-center">
                    <img src="{% static 'images/reception.png' %}" alt="">
                    <div class="doc-desc">
                        <h5>Sudha Hospital</h5>
                        <button class="top mt-1 mb-2">top</button>
                        <h6>Multi Speciality Clinic</h6>
                        <p>21 Years experience</p>
                        <p>HNo - 16-31, MIG.11/197, Landmark: Near KPHB 9th.</p>
                        <button class="book btn mt-2 mr-2">Get Direction</button>
                        <button class="book btn mt-2 mr-2">Call Now</button>
                    </div>
                    <div class="doc-appoint text-center">
                        <span class="text-success"> <b>Rs. 320/-</b></span> <br>
                        <button class="book btn">view</button>
                    </div>
                </div>
            </div>
            <div class="avaiable-doctors-right p-0 col-lg-4 justify-items-self">
                <div class="avaiable-doc-desc border p-4">
                    <h4>Sudha Hospital</h4>
                    <p>Multi Speciality Clinic</p>

                    <div class="appoint-detail m-0">

                        <div class="photos">
                            <h5>Photos</h5>
                            <div class="photos-inner d-flex">
                                <img src="{% static 'images/sudha-1.jpg' %}" class="mr-2" alt="">
                                <img src="{% static 'images/sudha-2.jpg' %}" class="mr-2" alt="">
                                <img src="{% static 'images/sudha-3.jpg' %}" class="mr-2" alt="">
                                <img src="{% static 'images/sudha-4.jpg' %}" class="mr-2" alt="">
                                <img src="{% static 'images/vijaya.jpg' %}" class="mr-2" alt="">
                            </div>
                        </div>
                        <div class="services-timing d-flex">
                            <div class="services col-md-6 p-0">
                                <h5>Services</h5>
                                <ul>
                                    <li>Inra-Uterine</li>
                                    <li>Pregnancy Care</li>
                                    <li>NVD</li>
                                    <li>Lab Tests</li>
                                    <li>Disease in Pregnancy</li>
                                    <li>Well Women Healthcheck</li>
                                </ul>
                            </div>
                            <div class="timing col-md-6">
                                <h5>Timings</h5>
                                <ul>
                                    <li>Mon-Sat</li>
                                    <li>09:00 AM - 09:00 PM</li>
                                    <li>Sun</li>
                                    <li>09:00 AM - 01:00 PM</li>
                                </ul>
                            </div>
                        </div>
                        <!-- <button class="btn  btn-outline-success mb-5">Today</button>
                        <button class="btn  btn-outline-success active ml-1 mr-1 mb-5">Tomorrow</button>
                        <button class="btn  btn-outline-success mb-5">Sun, 20Sept</button>
                        
                        <div class="time-slots d-flex align-items-end">
                            <h6>Morning</h6>
                            <div class="mr-auto"></div>
                            <button class="btn  btn-outline-light">10:00</button>
                            <button class="btn  btn-outline-light">11:00</button>
                        </div>
                        <hr>
                        <div class="time-slots d-flex align-items-end">
                            <h6>Afternoon</h6>
                            <div class="mr-auto"></div>
                            <button class="btn  btn-outline-light active">13:00</button>
                            <button class="btn  btn-outline-light">14:00</button>
                            <button class="btn  btn-outline-light">15:00</button>
                        </div>
                        <hr>
                        <div class="time-slots d-flex align-items-end">
                            <h6>Evening</h6>
                            <div class="mr-auto"></div>
                            <button class="btn  btn-outline-light">18:00</button>
                            <button class="btn  btn-outline-light">19:00</button>
                        </div> -->
                        <h5 class="mt-2">Doctors in Sudha Hospital</h5>
                        <div class="doc-detail-desc d-flex align-items-center">
                            <img src="{% static 'images/doctor-smile.png' %}" width="50" height="50" alt="">
                            <div class="doc-name">
                                <h5>Dr. Yugandar</h5>
                                <h6>Dentist</h6>
                            </div>
                            <div class="mr-auto"></div>
                            <button class="btn border">View</button>
                        </div>
                        <div class="doc-detail-desc d-flex align-items-center">
                            <img src="{% static 'images/doctor-smile.png' %}" width="50" height="50" alt="">
                            <div class="doc-name">
                                <h5>Dr. Yugandar</h5>
                                <h5>Dentist</h5>
                            </div>
                            <div class="mr-auto"></div>
                            <button class="btn border">View</button>
                        </div>
                        <button class="book btn">Book Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------- Avaiable Doctors End-------- -->


<!-- -------- Top artices start -------- -->

<div class="top-articles-wrapper border-top bg-white p-5">
    <div class="top-articles-content row align-items-center">
        <div class="top-articles-text col-lg-6">
            <div class="text">
                <h4>Read top articles of <br> health experts</h4>
                <button class="btn">View all articles</button>
            </div>
        </div>
        <div class="top-articles col-lg-6">
            <div class="top-articles-inner-wrapper">
                <div class="top-articles-inner">
                    <img src="{% static 'images/covid.jpg' %}" alt="">
                    <h6>corona virus</h6>
                    <h4>Coronavirus disease advice for the public: Mythbusters</h4>
                    <h6>w.h.o</h6>
                </div>
                <div class="top-articles-inner">
                    <img src="{% static 'images/covid.jpg' %}" alt="">
                    <h6>corona virus</h6>
                    <h4>Coronavirus disease advice for the public: Mythbusters</h4>
                    <h6>w.h.o</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------- Top artices End -------- -->


{% endblock %}