{% extends 'myproject/base.html' %}
{% load static %}
{% block title %} Heltho {% endblock %}
{% block content %}

<!-- -------- Hero Start -------- -->
<div class="hero-wrapper">
    <div class="hero-content d-flex">
        <div class="hero-text">
            <div class="text">
                <h3 class="m-0">The care you need in </h3>
                <h1>one step.</h1>
                <hr>
                <h5 class="mt-3">Heltho - Redefining healthcare</h5>
                <button class="btn">Book Now</button>
            </div>
        </div>
        <div class="hero-img">
            <img src="{% static 'images/hero.png' %}" alt="">
        </div>
    </div>
</div>
<!-- -------- Hero End -------- -->

<!-- -------- For Start -------- -->

<div class="spec-wrapper p-5">
    <h4>For patients</h4>
    <div class="spec-content d-flex align-items-center">
        <div class="spec border d-flex align-items-center">
            <img src="{% static 'images/doctor-smile.png' %}" alt="">
            <div class="spec-inner">
                <h5>Find doctors near you</h5>
                <p>Select preferred doctors and time slot to book an in clinic consultation.</p>
                <button class="btn">Find doctors now</button>
            </div>
        </div>
        <div class="spec border d-flex align-items-center">
            <img src="{% static 'images/reception.png' %}" alt="">
            <div class="spec-inner">
                <h5>Find clinics/ hospitals near you</h5>
                <p>Select preferred clinics and time slot to book an in clinic consultation.</p>
                <button class="btn">Find clinics now</button>
            </div>
        </div>
    </div>
</div>

<div class="spec-wrapper p-5">
    <h4>For clinic / hospital</h4>
    <div class="spec-content row">
        <div class="spec-content-wrapper col-lg-6">
            <div class="spec border d-flex align-items-center">
                <img src="{% static 'images/clinic.png' %}" alt="">
                <div class="spec-inner">
                    <h5>Allow patients to track you</h5>
                    <p>Experience the ease to manage your patient appointments.</p>
                    <button class="btn">Find doctors now</button>
                </div>
            </div>
        </div>
        <div class="spec-content-wrapper col-lg-6">
            <div class="spec border d-flex align-items-center">
                <img src="{% static 'images/mobile.png' %}" alt="">
                <div class="spec-inner">
                    <h5>Easy appointment feature</h5>
                    <p>Lets your patients skip the queue and head straight to the clinic.</p>
                    <button class="btn">Find clinics now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------- For End -------- -->

<!-- -------- Frequent Section Start -------- -->

<div class="frequent-wrapper p-5">
    <h4>Frequent picked services</h4>
    <button class="top">top</button>

    <div class="frequent-content-wrapper row  align-items-center">
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/dermitology.jpg' %}" alt="">
                <h6>Dermatology</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/optometry.jpg' %}" alt="">
                <h6>Optometry</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/orthopology.jpg' %}" alt="">
                <h6>Orthopology</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/obstetrics.jpg' %}" alt="">
                <h6>Obstetrics</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/dermitology.jpg' %}" alt="">
                <h6>Dermatology</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <button class="btn btn-raised">See all services <i class="fa fa-angle-right ml-2"></i> </button>
        </div>
    </div>
</div>

<div class="frequent-wrapper p-5">
    <h4>Specialties</h4>
    <button class="top">top</button>

    <div class="frequent-content-wrapper row align-items-center">
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/cardiologist.jpg' %}" alt="">
                <h6>Cardiologist</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/pulmonologist.jpg' %}" alt="">
                <h6>Pulmonologist</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/physcian.jpg' %}" alt="">
                <h6>General Physcian</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/orthopaedic.jpg' %}" alt="">
                <h6>Orthopaedic</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <div class="frequent-content border">
                <img src="{% static 'images/dermitology.jpg' %}" alt="">
                <h6>Dermatology</h6>
                <button class="btn" type="submit">Consult now</button>
            </div>
        </div>
        <div class="frequent-content col-lg-2">
            <button class="btn btn-raised">See all specialities <i class="fa fa-angle-right ml-2"></i> </button>
        </div>
    </div>
</div>

<!-- -------- Frequent Section End -------- -->

<!-- -------- Top artices start -------- -->

<div class="top-articles-wrapper p-5">
    <div class="top-articles-content row align-items-center">
        <div class="top-articles-text col-lg-6">
            <div class="text">
                <h4>Read top articles of <br> health experts</h4>
                <button class="btn">View all articles</button>
            </div>
        </div>
        <div class="top-articles col-lg-6">
            <div class="top-articles-inner-wrapper">
                <div class="top-articles-inner">
                    <img src="{% static 'images/covid.jpg' %}" alt="">
                    <h6>corona virus</h6>
                    <h4>Coronavirus disease advice for the public: Mythbusters</h4>
                    <h6>w.h.o</h6>
                </div>
                <div class="top-articles-inner">
                    <img src="{% static 'images/covid.jpg' %}" alt="">
                    <h6>corona virus</h6>
                    <h4>Coronavirus disease advice for the public: Mythbusters</h4>
                    <h6>w.h.o</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------- Top artices End -------- -->

<!-- -------- Quote Start -------- -->

<div class="quote-wrapper text-center">
    <div class="quote">
        <h2>Let us ease your <br> health care</h2>
    </div>
</div>

<!-- -------- Quote End -------- -->

{% endblock %}