*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

*:focus{
    outline: none;
}

body{
    background: #fefefe;
}

:root{
    --headColor: #333333;
    --paraColor: #4d4d4d;
    --primaryColor: #FECEFF;
    --secondaryColor: #FFE6E6;
    --sans: 'Open Sans', sans-serif;
}

/* Navbar Start */
.navbar{
    padding: 0.8rem 1.5rem;
    background: #fefefe;
    box-shadow: 0 2px 5px #ccc;

    a{
        font-weight: 600;
        font-family: var(--sans);
    }

    .navbar-nav{

        a{
            font-family: 'Roboto';
            text-transform: none;
            font-size: 1rem;
            margin: 0 0.5rem;
        }

        button{
            margin: 0 3rem;
        }
    }
}

/* Sub-Nav Start */
.sub-nav{

    select{
        width: 10rem;
        background: #fefefe;
        border: 1px solid #ccc;
        padding: 0 0.5rem;
    }
    
    input{
        width: 25rem;
        padding: 0 0.5rem;
        border: 1px solid #ccc;
    }

    button{
        text-transform: none;
        background: var(--secondaryColor);
        border-radius: 2px;
        border: 1px solid var(--secondaryColor);
        
        span{
            background:  var(--primaryColor);
            padding: 0.2rem 0.5rem;
        }
    }
}

.hero-wrapper{
    
    .hero-content{
        background: var(--secondaryColor);
        padding: 2rem 0;
        margin: 0;

        .hero-text{
            width: 50%;
            
            .text{
                position: relative;
                top: 50%;
                left: 15%;
                transform: translateY(-50%);

                h3{
                    font-size: 1.5rem;
                }

                h1{
                    position: relative;
                    top: -0.8rem;
                    left: -0.5rem;
                    margin: 0;
                    font-size: 5rem;
                    font-family: var(--sans);
                    font-weight: 900;
                }

                hr{
                    margin: 0;
                    background: #000;
                    width: 25rem;
                }

                button{
                    margin: 0.5rem 0;
                    border-radius: 4px;
                    padding: 0.8rem 1.5rem;
                    background: var(--primaryColor);
                    transition: 0.5s ease;

                    &:hover{
                        background: #fd99ff;
                    }
                }
            }
        }
    }
}

/* For start */
.spec-wrapper{

    h4{
        font-size: 1.3rem;
        font-family: var(--sans);
    }

    .spec-content{
        overflow: hidden;

        .spec{
            padding: 1rem;
            margin: 1rem;
            border-radius: 10px;
            box-shadow: 5px 8px 15px #ccc;
            
            img{
                width: 10rem;
                height: 10rem;
            }

            .spec-inner{
                padding: 1rem 2rem;

                h6{
                    font-family: var(--sans);
                }

                p{
                    font-size: 0.9rem;
                }

                button{
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem;
                    border: 1px solid var(--primaryColor);
                    border-radius: 5px;
                    background: var(--primaryColor);
                    transition: 0.5s ease;

                    &:hover{
                        background: #fd99ff;
                    }
                }
            }
        }
    }
}

/* Frequent section */
.top{
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    border-radius: 8px;
    color: #fefefe;
    background: #009B10;
    border: 1px solid #009B10;
}
.frequent-wrapper{

    h4{
        font-size: 1.3rem;
        font-family: var(--sans);
    }


    .frequent-content-wrapper{
        margin: 0;

        .frequent-content{

            .frequent-content{
                text-align: center;
                padding: 1rem;
                border-radius: 20px;
                box-shadow: 5px 5px 8px #ccc;

                img{
                    height: 5rem;
                    width: 5rem;
                }
                h6{
                    margin: 1rem 0;
                }

                button{
                    padding: 0.5rem;
                    border: 1px solid var(--primaryColor);
                    border-radius: 5px;
                    font-size: .8rem;
                    background: var(--primaryColor);
                    transition: 0.5s ease;

                    &:hover{
                        background: #fd99ff;
                    }
                }
            }
        }
    }
}

/* Top articles */
.top-articles-wrapper{
    background: var(--secondaryColor);

    .top-articles-content{

        .top-articles-text{
            text-align: center;
            position: relative;

            h4{
                line-height: 46px;
                font-family: var(--sans);
                font-size: 2rem;
            }

            button{
                margin: 1rem 0;
                padding: 0.5rem 1rem;
                border: 1px solid var(--secondaryColor);
                border-radius: 5px;
                background: var(--primaryColor);
                transition: 0.5s ease;

                &:hover{
                    background: #fd99ff;
                }
            }
        }

        .top-articles{
            padding: 0 3rem;
            // overflow: hidden;
            
            .top-articles-inner-wrapper{
                padding: 0 2rem;

                .top-articles-inner{

                    img{
                        width: 100%;
                        height: 20rem;
                    }

                    h4{
                        font-size: 1.2rem;
                    }

                    h6{
                        line-height: 27px;
                        font-size: 0.9rem;
                        margin: 0.5rem 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

/* Quote */
.quote-wrapper{
    padding: 8rem;

    .quote{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        h2{
            color: #F4BEBE;
            font-weight: 600;
            font-size: 2rem;
        }
    }
}

/* Footer */
.footer-wrapper{
    overflow: hidden;
    background: var(--secondaryColor);

    a{
        color: #000;
        text-decoration: none;
    }

    .footer-top-content-wrapper{
        position: relative;
        left: 17%;
        transform: translateX(-50%);
    }

    .footer-bottom{
        margin: 1rem 0;

        a{
            font-family: var(--sans);
            font-size: 1rem;
        }
        
        h6{
            margin: 0.5rem 0;
            font-size: 0.9rem;
        }
    }
}

/* Doctors Page */
.top-wrapper{
    background: var(--secondaryColor);

    .consult-text{
        margin-bottom: 1.5rem;
    }

    h4{
        font-size: 1.3rem;
        font-family: var(--sans);
    }

    .top-content-wrapper{
        margin: 0;

        .top-content{

            .top-content-inner{
                background: #fefefe;
                margin: auto 2rem;
                text-align: center;
                padding: 1rem;
                border-radius: 20px;
                box-shadow: 5px 5px 8px #ccc;

                img{
                    height: 5rem;
                    width: 5rem;
                }
                h6{
                    margin: 1rem 0;
                }

                button{
                    padding: 0.5rem;
                    border: 1px solid var(--primaryColor);
                    border-radius: 5px;
                    font-size: .8rem;
                    background: var(--primaryColor);
                    transition: 0.5s ease;

                    &:hover{
                        background: #fd99ff;
                    }
                }
            }
        }
    }
}

/* Avaiable Doctors Left */ 
.avaiable-doctors-wrapper{

    .avaiable-doctors-inner{
        box-shadow: 10px 10px 10px #ccc;
        
        h4{
            font-family: var(--sans);
            font-size: 1.3rem;
        }

        .avaiable-doctors-left{
            padding: 1rem 5rem;

            .doc-info{
                border-radius: 10px;
                padding: 1rem;
                margin: 1rem;
                border-radius: 10px;
                box-shadow: 5px 8px 15px #ccc;
                
                img{
                    width: 10rem;
                    height: 10rem;
                }

                .doc-desc{
                    padding: 1rem 2rem;

                    h6{
                        font-family: var(--sans);
                    }

                    p{
                        margin: 0;
                        font-size: 0.9rem;
                    }

                }
                .doc-appoint{

                    .book{
                        padding: 0.5rem 1rem;
                        margin: 0.5rem 0;
                        font-size: 0.9rem;
                        border: 1px solid var(--primaryColor);
                        border-radius: 3px;
                        background: var(--primaryColor);
                        transition: 0.5s ease;

                        &:hover{
                            background: #fd99ff;
                        }
                    }
                }
            }
        }

        .avaiable-doc-desc{
            border-radius: 10px;
            box-shadow: 5px 5px 10px #ccc;

            p{
                margin: 0;
            }

            .appoint-detail{
                margin: 1rem 0;

                .active{
                    border: 1px solid var(--primaryColor);
                    background: var(--primaryColor);
                    color: var(--headColor);
                }

                .time-slots{
                    h6{

                    }
                    button{
                        margin: 0 0.5rem;
                        border: 1px solid var(--paraColor);
                        color: var(--paraColor);
                    }

                    .active{
                        border:1px solid var(--primaryColor);
                    }
                }

                .doc-detail-desc{
                    margin: 2rem 0;

                    img{
                        margin-right: 1rem;
                    }

                    h5{
                        margin: 0;
                        font-size: 1rem;
                    }
                }
                .book{
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0;
                    font-size: 1rem;
                    border: 1px solid var(--primaryColor);
                    border-radius: 5px;
                    background: var(--primaryColor);
                    transition: 0.5s ease;

                    &:hover{
                        background: #fd99ff;
                    }
                }
            }
        }
    }
}