* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

body {
  background: #fefefe;
}

:root {
  --headColor: #333333;
  --paraColor: #4d4d4d;
  --primaryColor: #FECEFF;
  --secondaryColor: #FFE6E6;
  --sans: 'Open Sans', sans-serif;
}

/* Navbar Start */
.navbar {
  padding: 0.8rem 1.5rem;
  background: #fefefe;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
}

.navbar a {
  font-weight: 600;
  font-family: var(--sans);
}

.navbar .navbar-nav a {
  font-family: 'Roboto';
  text-transform: none;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.navbar .navbar-nav button {
  margin: 0 3rem;
}

/* Sub-Nav Start */
.sub-nav select {
  width: 10rem;
  background: #fefefe;
  border: 1px solid #ccc;
  padding: 0 0.5rem;
}

.sub-nav input {
  width: 25rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
}

.sub-nav .search {
  text-transform: none;
  width: 5rem;
  background: var(--secondaryColor);
  border-radius: 2px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

.sub-nav button img {
  height: 2rem;
}

.hero-wrapper .hero-content {
  background: var(--secondaryColor);
  padding: 2rem 0;
  margin: 0;
}

.hero-wrapper .hero-content .hero-text {
  width: 50%;
}

.hero-wrapper .hero-content .hero-text .text {
  position: relative;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-wrapper .hero-content .hero-text .text h3 {
  font-size: 1.5rem;
}

.hero-wrapper .hero-content .hero-text .text h1 {
  position: relative;
  top: -0.8rem;
  left: -0.5rem;
  margin: 0;
  font-size: 5rem;
  font-family: var(--sans);
  font-weight: 900;
}

.hero-wrapper .hero-content .hero-text .text hr {
  margin: 0;
  background: #000;
  width: 25rem;
}

.hero-wrapper .hero-content .hero-text .text button {
  margin: 0.5rem 0;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hero-wrapper .hero-content .hero-text .text button:hover {
  background: #fd99ff;
}

/* For start */
.spec-wrapper h4 {
  font-family: var(--sans);
}

.spec-wrapper .spec-content {
  overflow: hidden;
}

.spec-wrapper .spec-content .spec {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 8px 15px #ccc;
          box-shadow: 5px 8px 15px #ccc;
}

.spec-wrapper .spec-content .spec img {
  width: 10rem;
  height: 10rem;
}

.spec-wrapper .spec-content .spec .spec-inner {
  padding: 1rem 2rem;
}

.spec-wrapper .spec-content .spec .spec-inner h5 {
  font-family: var(--sans);
}

.spec-wrapper .spec-content .spec .spec-inner button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.spec-wrapper .spec-content .spec .spec-inner button:hover {
  background: #fd99ff;
}

/* Frequent section */
.top {
  margin: 0.5rem 0 2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #fefefe;
  background: #009B10;
  border: 1px solid #009B10;
}

.frequent-wrapper h4 {
  font-family: var(--sans);
}

.frequent-wrapper .frequent-content-wrapper {
  margin: 0;
}

.frequent-wrapper .frequent-content-wrapper .frequent-content .frequent-content {
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px #ccc;
          box-shadow: 2px 2px 8px #ccc;
}

.frequent-wrapper .frequent-content-wrapper .frequent-content .frequent-content img {
  height: 5rem;
  width: 5rem;
}

.frequent-wrapper .frequent-content-wrapper .frequent-content .frequent-content h6 {
  margin: 1rem 0;
}

.frequent-wrapper .frequent-content-wrapper .frequent-content .frequent-content button {
  padding: 0.5rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  font-size: .8rem;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.frequent-wrapper .frequent-content-wrapper .frequent-content .frequent-content button:hover {
  background: #fd99ff;
}

/* Top articles */
.top-articles-wrapper {
  background: var(--secondaryColor);
}

.top-articles-wrapper .top-articles-content .top-articles-text {
  text-align: center;
  position: relative;
}

.top-articles-wrapper .top-articles-content .top-articles-text h4 {
  line-height: 46px;
  font-family: var(--sans);
  font-size: 2rem;
}

.top-articles-wrapper .top-articles-content .top-articles-text button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.top-articles-wrapper .top-articles-content .top-articles-text button:hover {
  background: #fd99ff;
}

.top-articles-wrapper .top-articles-content .top-articles {
  padding: 0 3rem;
}

.top-articles-wrapper .top-articles-content .top-articles .top-articles-inner-wrapper {
  padding: 0 2rem;
}

.top-articles-wrapper .top-articles-content .top-articles .top-articles-inner-wrapper .top-articles-inner img {
  width: 100%;
  height: 20rem;
}

.top-articles-wrapper .top-articles-content .top-articles .top-articles-inner-wrapper .top-articles-inner h4 {
  font-size: 1.2rem;
}

.top-articles-wrapper .top-articles-content .top-articles .top-articles-inner-wrapper .top-articles-inner h6 {
  line-height: 27px;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

/* Quote */
.quote-wrapper {
  padding: 5rem;
}

.quote-wrapper .quote h2 {
  font-family: 'Lobster';
  color: #F4BEBE;
  font-weight: 600;
  font-size: 5rem;
}

/* Footer */
.footer-wrapper {
  overflow: hidden;
  background: var(--secondaryColor);
}

.footer-wrapper a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer-wrapper a:hover {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.footer-wrapper .footer-top-content-wrapper {
  position: relative;
  left: 17%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-wrapper .footer-bottom {
  margin: 1rem 0;
}

.footer-wrapper .footer-bottom a {
  font-family: var(--sans);
  font-size: 1rem;
}

.footer-wrapper .footer-bottom h6 {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

/* Doctors Page */
.top-wrapper {
  background: var(--secondaryColor);
}

.top-wrapper .consult-text {
  margin-bottom: 1.5rem;
}

.top-wrapper h4 {
  font-family: var(--sans);
}

.top-wrapper .top-content-wrapper {
  margin: 0;
}

.top-wrapper .top-content-wrapper .top-content .top-content-inner {
  background: #fefefe;
  margin: auto 2rem;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 8px #ccc;
          box-shadow: 5px 5px 8px #ccc;
}

.top-wrapper .top-content-wrapper .top-content .top-content-inner img {
  height: 5rem;
  width: 5rem;
}

.top-wrapper .top-content-wrapper .top-content .top-content-inner h6 {
  margin: 1rem 0;
}

.top-wrapper .top-content-wrapper .top-content .top-content-inner button {
  padding: 0.5rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  font-size: .8rem;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.top-wrapper .top-content-wrapper .top-content .top-content-inner button:hover {
  background: #fd99ff;
}

/* Avaiable Doctors Left */
.avaiable-doctors-wrapper .avaiable-doctors-inner {
  -webkit-box-shadow: 10px 10px 10px #ccc;
          box-shadow: 10px 10px 10px #ccc;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner h4 {
  font-family: var(--sans);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left {
  padding: 1rem 5rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 8px 15px #ccc;
          box-shadow: 5px 8px 15px #ccc;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info img {
  width: 10rem;
  height: 10rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-desc {
  padding: 1rem 2rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-desc h6 {
  font-family: var(--sans);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-desc p {
  margin: 0;
  font-size: 0.9rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-desc .book {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  border: 1px solid var(--primaryColor);
  border-radius: 3px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-desc .book:hover {
  background: #fd99ff;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-appoint .book {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  border: 1px solid var(--primaryColor);
  border-radius: 3px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doctors-left .doc-info .doc-appoint .book:hover {
  background: #fd99ff;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc p {
  margin: 0;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail {
  margin: 1rem 0;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .services-timing h5 {
  font-family: var(--sans);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .services-timing ul {
  list-style-type: none;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .photos {
  padding: 2rem 0;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .photos h5 {
  font-family: var(--sans);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .photos .photos-inner img {
  height: 4rem;
  width: 4rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .active {
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor);
  color: var(--headColor);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .time-slots button {
  margin: 0 0.5rem;
  border: 1px solid var(--paraColor);
  color: var(--paraColor);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .time-slots .active {
  border: 1px solid var(--primaryColor);
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .doc-detail-desc {
  margin: 2rem 0;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .doc-detail-desc img {
  margin-right: 1rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .doc-detail-desc h5 {
  margin: 0;
  font-size: 1rem;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .book {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.avaiable-doctors-wrapper .avaiable-doctors-inner .avaiable-doc-desc .appoint-detail .book:hover {
  background: #fd99ff;
}

.book {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  background: var(--primaryColor);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.book:hover {
  background: #fd99ff;
}

.diagnosis-desc .diagnosis-desc-top .diagnosis-img {
  overflow: hidden;
}

.diagnosis-desc .diagnosis-desc-top .diagnosis-img img {
  height: 100%;
  width: 100%;
}

.diagnosis-desc .diagnosis-desc-top .diagnosis-short-desc {
  padding: 1rem 4rem;
}

.diagnosis-desc .diagnosis-desc-top .diagnosis-short-desc h3 {
  font-family: var(--sans);
}

.diagnosis-desc h4 {
  font-family: var(--sans);
}

.diagnosis-desc ul {
  list-style-type: none;
}

.diagnosis-desc .photos {
  padding: 2rem 0;
}

.diagnosis-desc .photos .photos-inner img {
  height: 10rem;
  width: 10rem;
}
/*# sourceMappingURL=style.css.map */